
.about-section

    .about-img
        display: flex
        justify-content: center
        align-items: flex-start

        max-width: 425px
        max-height: 425px

    .about-text-container
        display: flex
        flex-direction: column
        justify-content: center

        span
            color: $purple

        h2
            font-size: rem($sectionTitleFontSize)
            font-weight: $semiBoldWeight
            margin-bottom: 20px
            color: $blackish

        .about-texts
            max-width: 550px
            margin-bottom: 15px

            .about-text
                font-size: rem($textFontSize)
                font-weight: $lightWeight
                margin-bottom: 15px
                color: $blackish
                line-height: 1.5

// dark mode
.dark
    .about-section
        span
            color: $purple

        h2
            color: $white-dark
            filter: contrast($constrastTitle)

        .about-texts
            .about-text
                color: $white-dark
                filter: contrast($constrastText)