
    
    
.first-section
    display: flex
    justify-content: space-around

    .main-text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start

        h3
            font-weight: $semiBoldWeight
            font-size: rem($textFontSize)
            color: $purple
            line-height: rem(24px)

        h1
            font-weight: $boldWeight
            font-size: rem(60px)
            color: $blackish
            line-height: rem(90px)

        h2 
            margin-top: rem(-20px)

            font-weight: $semiBoldWeight
            font-size: rem(24px)
            color: $blackish
            line-height: rem(36px)

            span
                color: $purple

    .main-img
        display: flex
        justify-content: center
        align-items: flex-end

    .botoes
        margin: 50px 0

        .btn-1
            margin-right: 45px