@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 10px;
}
header .logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #303030;
}
header .hamburger-icon {
  font-size: 2rem;
  display: none;
}
header .nav-bar ul {
  display: flex;
}
header .nav-bar ul li {
  list-style: none;
}
header .nav-bar ul li a {
  display: block;
  color: #303030;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.6875rem;
  text-align: center;
  padding: 5px 15px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}

header .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: #8A39E1;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@webkit-keyframes slideIn {
  header .mobile-menu from {
    right: -80vw;
  }
  header .mobile-menu to {
    right: 0;
  }
}
@keyframes slideIn {
  from {
    right: -80vw;
  }
  to {
    right: 0;
  }
}
@webkit-keyframes slideOut {
  header .mobile-menu from {
    right: 0;
  }
  header .mobile-menu to {
    right: -80vw;
  }
}
@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -80vw;
  }
}
header .mobile-menu .close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 2rem;
  color: #fff;
}
header .mobile-menu ul {
  margin-top: 100px;
}
header .mobile-menu ul li {
  list-style: none;
}
header .mobile-menu ul li a {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.6875rem;
  text-align: center;
  padding: 5px 15px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}
header .oculto {
  display: none !important;
}

.dark header .logo {
  color: #fff;
  filter: contrast(90%);
}
.dark header .nav-bar ul li a {
  color: #fff;
  filter: contrast(90%);
}

/* From uiverse.io by @alexruix */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  width: 3.5em;
  height: 2em;
  position: relative;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
  z-index: 999;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #8A39E1;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff;
}

/* Hide default HTML checkbox */
.switch-mobile input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-mobile {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider-mobile:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider-mobile {
  background-color: #8A39E1;
}

input:checked + .slider-mobile:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff;
}

.first-section .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first-section .main-text h3 {
  font-weight: 600;
  font-size: 0.9375rem;
  color: #8A39E1;
  line-height: 1.5rem;
}
.first-section .main-text h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #303030;
  line-height: 2.25rem;
}
.first-section .main-text h1 {
  font-weight: 700;
  font-size: 3.75rem;
  color: #303030;
  line-height: 5.625rem;
}
.first-section .main-text h2 {
  margin-top: -1.25rem;
}
.first-section .main-text h2 span {
  color: #8A39E1;
}
.first-section .main-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 425px;
  max-height: 425px;
}
.first-section .botoes {
  margin: 50px 0;
}
.first-section .botoes .btn-1 {
  margin-right: 45px;
}

.dark .first-section .main-text h3 {
  color: #8A39E1;
  filter: contrast(90%);
}
.dark .first-section .main-text h2 {
  color: #fff;
  filter: contrast(90%);
}
.dark .first-section .main-text h1 {
  color: #fff;
  filter: contrast(90%);
}

.about-section {
  display: flex;
  justify-content: space-between;
}
.about-section .about-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 425px;
  max-height: 425px;
}
.about-section .about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section .about-text-container span {
  color: #8A39E1;
}
.about-section .about-text-container h2 {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #303030;
}
.about-section .about-text-container .about-texts {
  margin-bottom: 15px;
}
.about-section .about-text-container .about-texts .about-text {
  font-size: 0.9375rem;
  font-weight: 300;
  margin-bottom: 15px;
  color: #303030;
  line-height: 1.5;
}

.dark .about-section span {
  color: #8A39E1;
}
.dark .about-section h2 {
  color: #fff;
  filter: contrast(90%);
}
.dark .about-section .about-texts .about-text {
  color: #fff;
  filter: contrast(60%);
}

@media screen and (min-width: 769px) {
  .about-texts {
    max-width: 550px;
  }
}
.education-section {
  margin-top: 2.5rem;
}
.education-section img {
  max-width: 23.125rem;
  max-height: 23.125rem;
}
.education-section h2 {
  margin-top: 1.25rem;
}
.education-section .habilidades {
  display: flex;
  flex-direction: row;
}
.education-section .habilidades .col2, .education-section .habilidades .col3 {
  margin-left: 5rem;
}
.education-section .habilidades .col1 {
  margin-left: 1.25rem;
}
.education-section .habilidades li {
  margin: 0 0 0.9375rem 0;
  font-size: 0.9375rem;
}
.education-section .habilidades ul {
  margin-top: 1.25rem;
}
.education-section .formacao .formacao-item {
  margin-top: 1.25rem;
}
.education-section .formacao .formacao-item .curso {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #303030;
  line-height: 163.9%;
}
.education-section .formacao .formacao-item p {
  font-size: 0.9375rem;
  font-weight: 300;
}

.dark .education-section h2 {
  color: #fff;
  filter: contrast(90%);
}
.dark .education-section .habilidades li {
  color: #fff;
  filter: contrast(60%);
}
.dark .education-section .habilidades ul {
  color: #fff;
  filter: contrast(60%);
}
.dark .education-section .formacao .formacao-item .curso {
  color: #fff;
  filter: contrast(60%);
}
.dark .education-section .formacao .formacao-item p {
  color: #fff;
  filter: contrast(60%);
}

.projects-section {
  margin-top: 2.5rem;
}
.projects-section #project-span {
  color: #8A39E1;
}
.projects-section .project-texts .project-number {
  font-weight: 600;
  color: #8A39E1;
  font-size: 0.9375rem;
  margin-top: 2.5rem;
  margin-bottom: 0.625rem;
}
.projects-section .project-texts .project-name {
  font-weight: 600;
  color: #303030;
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}
.projects-section .project-texts .project-name span {
  color: #8A39E1;
}
.projects-section .project-texts .project-description {
  font-size: 0.9375rem;
  font-weight: 300;
  color: #303030;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  min-height: 150px;
}
.projects-section .project-texts .projects-tech {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #303030;
  line-height: 1.5;
}
.projects-section .project-texts .projects-tech span {
  color: #8A39E1;
}
.projects-section .project-texts .project-tech {
  font-size: 0.9375rem;
  font-weight: 300;
  color: #303030;
  line-height: 1.5;
}
.projects-section .projects-slider {
  position: relative;
  bottom: 100px;
  margin-left: 20px;
}
.projects-section .projects-slider .drawing-ilus {
  position: relative;
  top: 50px;
  right: 40px;
}
.projects-section .projects-slider .project-arrows {
  background: #8A39E1;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 25px;
  left: 380px;
  cursor: pointer;
}
.projects-section .projects-slider .project-arrows img {
  width: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dark .projects-section #project-span {
  color: #8A39E1;
}
.dark .projects-section .project-title {
  color: #fff;
  filter: contrast(90%);
}
.dark .projects-section .project-name {
  color: #fff;
  filter: contrast(90%);
}
.dark .projects-section .project-name span {
  color: #8A39E1;
}
.dark .projects-section .project-description {
  color: #fff;
  filter: contrast(60%);
}
.dark .projects-section .projects-tech {
  color: #fff;
  filter: contrast(60%);
}
.dark .projects-section .projects-tech span {
  font-weight: 600;
  color: #8A39E1;
}
.dark .projects-section .project-tech {
  color: #fff;
  filter: contrast(60%);
}
.dark .projects-section .project-arrows img {
  filter: contrast(90%);
}

.contact-section {
  margin-top: 5rem;
}
.contact-section img {
  max-width: 400px;
}
.contact-section form input::placeholder {
  color: #303030;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.6875rem;
  text-align: left;
}
.contact-section form textarea::placeholder {
  color: #303030;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.6875rem;
  text-align: left;
}

.dark .section-title {
  color: #fff;
  filter: contrast(90%);
}

@media screen and (max-width: 730px) {
  body {
    max-width: 100% !important;
  }
  header {
    width: 80% !important;
    margin: 0 !important;
    margin-left: 20px !important;
    margin-top: 25px !important;
  }
  header .hamburger-icon {
    display: block !important;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1000;
  }
  header .nav-bar {
    display: none !important;
  }
  header .oculto {
    display: none !important;
  }
  header input:checked + .slider {
    background-color: #6300ce;
  }
  .projects-section .drawing-ilus {
    width: 100px;
  }
  .projects-section .project-image {
    width: 80vw;
    margin: 0;
    padding: 0;
  }
  .projects-section .projects-slider {
    margin-left: 10px;
    margin-top: 50px;
  }
  .projects-section .project-arrows {
    width: 70px !important;
    height: 30px !important;
    position: relative;
    top: -20px !important;
    bottom: 0 !important;
    left: 65% !important;
  }
  .projects-section .project-arrows img {
    width: 9px !important;
  }
  section {
    flex-direction: column !important;
    height: auto !important;
    width: 90vw !important;
    margin: 0 auto !important;
  }
  .first-section {
    margin-top: 70px !important;
    align-items: start !important;
  }
  .first-section .main-text {
    width: 80vw !important;
  }
  .first-section .main-img {
    margin-top: -20px !important;
    align-self: center !important;
  }
  .first-section .main-img img {
    width: 250px !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .about-section {
    margin-top: 70px !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    padding: 0 20px !important;
  }
  .about-img img {
    width: 250px !important;
  }
  .habilidades {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
  }
  .habilidades ul {
    margin: 0 !important;
    width: 30vw !important;
  }
  .habilidades ul:nth-of-type(2) {
    margin-left: 40px !important;
  }
  .habilidades ul:nth-of-type(3) {
    align-self: center !important;
  }
  .education-section img {
    width: 195px !important;
    align-self: center !important;
    margin-left: -10px !important;
    margin-top: 30px !important;
  }
  .contact-section .contact-text img {
    width: 280px !important;
    margin-top: 30px !important;
  }
}
.botao-primary {
  background: #8A39E1;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  padding: 0.625rem 1.25rem;
  transition: all 0.2s ease-in-out;
  margin-top: 40px !important;
}
.botao-primary:hover {
  background: #fff;
  color: #8A39E1;
  outline: 1.8px solid #8A39E1;
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 7px 7px 0 0 #8A39E1;
}

.botao-secondary {
  background-color: #fff;
  color: #303030;
  text-decoration: none;
  line-height: 1.6875rem;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: 1.8px solid #303030;
  box-shadow: 0 0 0 0 #303030;
}
.botao-secondary:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 7px 7px 0 0 #8A39E1;
  color: #8A39E1;
  outline: 1.8px solid #8A39E1;
}
.botao-secondary:active {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 7px 7px 0 0 #8A39E1;
  color: #8A39E1;
  outline: 1.8px solid #8A39E1;
}

.dark .botao-primary {
  background: #8A39E1;
  color: #fff;
}
.dark .botao-primary:hover {
  background: #fff;
  color: #8A39E1;
  outline: 1.8px solid #8A39E1;
}
.dark .botao-secondary {
  background-color: #050022;
  color: #fff;
  text-decoration: none;
  line-height: 1.6875rem;
  outline: 1.8px solid #fff;
}
.dark .botao-secondary:hover {
  color: #8A39E1;
  background: #fff;
  outline: 1.8px solid #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  text-transform: lowercase;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.5s ease-in-out, color 1s ease-in-out;
}

.light {
  background-color: #fff;
  color: #303030;
}

.dark {
  background-color: #050022;
  color: #fff;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  height: 65vh;
  margin: 0 auto;
  padding: 0 10px;
}
section .section-title {
  font-weight: 600;
  font-size: 1.625rem;
  color: #303030;
  line-height: 2.25rem;
}
section .section-title span {
  color: #8A39E1;
}